/web/bundles/
/web/css/
/web/js/
/web/assetic/
/web/uploads/
/upload/
/components/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
.idea
/node_module/
/temp/

